* {
    box-sizing: border-box;
}
html{
    font-size: 16px;
}

body{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

.mobile-menu{
    display: none;
}
.header {
	padding-top: 5.875rem;
}
.logo-black{
    display: none;
}
.header-image::after{
    content:"";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(41, 45, 51, 0.6);
    z-index: 0;
}
.header-image{
    background-image: url('../image/header-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom -3.5rem ;
    position: relative;
}
.navbar {
    display: flex;
    align-items:center;
    color: white;
    height: 6rem;
    z-index: 2;
    position: fixed;
    width: 100%;
    left: 0;
	top: 0;
    border-bottom: 1px solid rgba(235, 235, 240, 0.2);
	transition: background-color 0.2s; height: 0.2s;
}
.navbar-light{
	background: #fff;
	color: #292D33;
    height: 4.625rem;
}
.navbar-light .haeder-logo-path{
	fill: #292D33;
}
.header-logo {
    display: flex;
    align-items: center;
    padding: 0 3.1rem;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
    height: 100%;
}
.logo-svg {
    width: 8.75rem; 
    height: 2.75rem;
}
.header-nav {
    display: flex;
	height: 100%;
	align-items: center;
    flex-basis: 100%;
    list-style: none;
    padding: 0 3.125rem;
    margin: 0;
}
.header-nav-item {
    margin-right: 3.2rem;
	height: 100%;
	display: flex;
	align-items: center;
}
.header-nav-item:last-child{
    margin-right: 0;
}
.header-nav-link {
    text-decoration: none;
    color: inherit;
    font-weight: 400;
    font-size: 1rem;
	display: flex;
	align-items: center;
	height: 100%;
	position: relative;
}
.header-nav-link::after{
	content:"";
	width: 100%;
	height: 2px;
	background: #5C8EE6;
	position: absolute;
	bottom: -1px;
	transition: transform 0.2s;
	transform: scaleX(0);

}
.header-nav-link:hover::after{
	transform: scaleX(1);
}
.header-phone {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: .625rem;
    margin-right: 3.125rem;
}
.phone{
    width: 1.5rem; 
    height: 1.5rem;
    fill:#5C8EE6;
}
.header-phone-link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: inherit;
}
.header-button {
    flex-shrink: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
	font-weight: 600;
    font-size: 1rem;
    line-height: 160%;
    padding: 1.875rem 3.375rem;
    color: #FFFFFF;
    background-color: #3A71D1;
    border: none;
    cursor: pointer;
}
.header-button-icon{
    width: 1.5rem; 
    height: 1.5rem;
    display: none;
}
.btn {
    font-weight: 600;
    font-size: 1rem;
    line-height: 160%;
    padding: 1.625rem 4.0625rem;
    color: #FFFFFF;
    background-color: #3A71D1;
    border: none;
    cursor: pointer;
}
.container{
    max-width: 90rem;
    margin: 0 auto;   
}

.header-content{
    padding-top: 9.375rem;
    position: relative;
    z-index: 1;
    color: #fff;
    margin-bottom: 6.2rem;
}
.header-title{
    max-width: 67.5rem;
    font-family: 'Bebas Neue';
    font-weight: 600;
    font-size: 5rem;
    line-height: 120%;
    word-spacing: 0rem;
    margin-top: 1.4375rem;
    letter-spacing: .05rem;
    margin-bottom: 2.4375rem;
}

.header-text{
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    max-width: 45rem;
    margin-bottom: 3.125rem;
    letter-spacing: .0063rem;
}
.seporator{
    background: #5C8EE6;
    width: 9.375rem;
    height: .125rem;
}

.header-features {
    display: flex;
    min-height: 10.5rem;
    padding: 0;
    list-style: none;
    position: relative;
    z-index: 1;
	margin: 0;
}
.haeder-features-items {
    padding: 1.8125rem 3.1875rem;
    display: inline-block;
    height: auto;
    width: 18rem;
    border: .0625rem solid rgba(235, 235, 240, 0.2);
}
.haeder-features-items:not(:last-child){
    border-right: .0625rem solid rgba(235, 235, 240, 0.2);
}
.header-features-svg {
    margin-bottom: .9375rem;
    width: 2.25rem; 
    height: 2.25rem;
}
.haeder-features-text {
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    color: #fff;
}
.header-slider-buttons{
    display: none;
    height: 44px;
    justify-content: center;
    align-items: center;
}
.header-buttons-prev, .header-buttons-next {
    height: 100%;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgba(235, 235, 240, 0.2);
}

.section-steps {
	margin-top: 150px;
}
.section-steps-title {
	font-family: 'Bebas Neue';
	font-weight: 600;
	font-size: 3.75rem;
	line-height: 120%;
	color: #292D33;
    margin-top: 1.5rem;
    margin-bottom: 3.25rem;
}
.steps-list {
	display: flex;
	list-style: none;
	padding: 0;
	gap: 30px;
    margin: 0;
}
.step-item {
	max-width: 330px;
	height: 100%;
}
.step-numb {
	font-family: 'Bebas Neue';
	font-weight: 600;
	font-size: 3rem;
	line-height: 120%;
	color: #5C8EE6;
	margin-bottom: 2.125rem;
	display: flex;
	align-items: center;
}
.step-numb:after{
	margin-left: 1.875rem;
	content:"";
	height: 1px;
	background: #EBEBF0;
	width: 100%;
}

.step-item-w{
	max-width: 18.75rem;
}

.step-text {
	font-weight: 400;
	font-size: 1.75rem;
	line-height: 160%;
	color: #292D33;
	margin-bottom: .625rem;
}
.step-descr {
	font-weight: 400;
	font-size: 1rem;
	line-height: 160%;
	color: #828A99;
	margin-bottom: 1.25rem;
    margin-top: 0.675rem;
}
.button-link{
	font-weight: 600;
	font-size: 1.2rem;
	line-height: 160%;
	color: #5C8EE6;
	display: flex;
	align-items:center;
	text-decoration: none;
}
.button-link::before{
	content:"";
	height: .0625rem;
	background: #5C8EE6;
	margin-right: 1.7rem;
	width: 3rem;
	transition: width 0.2s;
}
.button-link:hover::before{
	width: 3.75rem;
}
.steps-buttons{
	display: none;
	justify-content: flex-end;
	height: 44px;
}
.steps-buttons-prev, .steps-buttons-next {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background: #5C8EE6;
	padding: 13px 17px;
}


/* СТИЛИ section-production */
.production {
	margin-top: 7.9rem;
    margin-bottom: 9.15rem;
}
.section-production-title{
	font-family: 'Bebas Neue';
	font-style: normal;
	font-weight: 600;
	font-size: 60px;
	line-height: 120%;
	color: #292D33;
	margin: 0;
	margin-top: 1.5rem;
	margin-bottom: 3.5rem;
    letter-spacing: 0.02rem;
}
.production-cards{
	display: flex;
	flex-wrap: wrap;
}
.production-card{
	flex-basis: 33.3%;
	border: .0625rem solid #EBEBF0;
	position: relative;
	text-decoration: none;
	transition: border 0.2s;
}
.production-card:hover{
	border-color: #5C8EE6;
}
.production-card-title:hover{
	color: #5C8EE6;
}
.production-card-img{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 0;
}
.production-card-content{
	padding: 2.5rem 3.125rem;
}
.production-card-title{
	font-style: normal;
	font-weight: 400;
	font-size: 1.7rem;
	line-height: 160%;
    letter-spacing: 0.02rem;
	color: #292D33;
	margin-top: 0;
	margin-bottom: .625rem;
}
.production-card-text{
	font-size: 1rem;
	line-height: 160%;
	color: #828A99;
    margin: 0;
	margin-bottom: 22.3rem;
}

/* СТИЛИ section-labels */
.section-labels{
	margin-bottom: 9.375rem;
}
.section-labels-title{
	font-family: 'Bebas Neue';
	font-style: normal;
	font-weight: 600;
	font-size: 3.4rem;
	line-height: 120%;
	color: #292D33;
    margin: 0;
    margin-top: 1.8rem;
    margin-bottom: 3.6rem;
}
.labels-cards{
	display: flex;
}
.labels-card{
	display: grid;
	grid-template-columns: 180px 1fr;
	grid-template-rows: auto 2fr;
	grid-column-gap: 3.125rem;
	grid-template-areas: 
	"logo title"
	"logo text";
	border: 1px solid #EBEBF0;
	cursor: pointer;
	transition: hover 0.2s;
	padding: 3.125rem;
    min-height: 17.5rem;
}
.labels-card-image{
	grid-area: logo;
	width: 100%;
    height: 100%;
	fill:#828A99;
}
.labels-card-title{
	grid-area: title;
	font-weight: 400;
	font-size: 1.75rem;
	line-height: 160%;
	color: #292D33;
	margin: 0;
}
.labels-card-text{
	font-weight: 400;
	font-size: 1rem;
	line-height: 160%;
	color: #828A99;
	margin: 0;
	margin-top: 0.625rem;
}
.labels-card-text-w{
    max-width: 22.5rem;
    margin-right: 1.875rem;
    grid-area: text;
}
.labels-card:hover{
	border-color: #5C8EE6;
}
.labels-card:hover .labels-card-title{
    color:#5C8EE5;
}
.labels-card:hover .labels-card-image{
    fill:#5C8EE5;
}

/* СТИЛИ section-founder */
.founder{
	position: relative;
	margin-bottom: 9.375rem;
}
.founder-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 44%;
}
.founder-content-wrapper{
	display: flex;
	justify-content: flex-end;
}
.founder-content{
	max-width: 45rem;
	padding: 3.125rem 0;
}
.founder-title{
	font-family: 'Bebas Neue';
	font-style: normal;
	font-weight: 400;
	font-size: 3.75rem;
	line-height: 120%;
	color: #292D33;
	max-width: 30rem;
	margin: 0;
	margin-top: 1.6rem;
	margin-bottom: 1.7rem;
}
.founder-title + .founder-text {
    margin-bottom: 1.4rem;
}

.founder-text{
	font-weight: 400;
	font-size: 1rem;
	line-height: 160%;
	color: #828A99;
	margin: 0;
	margin-bottom: 1.875rem;
}


/* СТИЛИ section-clients */
.clients{
	margin-bottom: 9.375rem;
}
.clients-wrapper {
	display: flex;
}
.clients-content {
	flex-basis: 50%;
}
.clients-title {
	font-family: 'Bebas Neue';
	font-weight: 600;
	font-size: 3.8rem;
	line-height: 120%;
	color: #292D33;
	margin: 0;
	margin-top: 1.6rem;
	margin-bottom: 2.8rem;
}
.clients-list {
	list-style-type: none;
	padding: 0;
	columns: 2 auto;
	margin: 0;
	column-gap: .1rem;
}
.clients-item{
	display: flex;
	align-items: center;
	gap: 1.25rem;
	font-size: 1rem;
	line-height: 160%;
	color: #292D33;
	margin-bottom: 1.2rem;
}
.clients-item:last-child{
	margin-bottom: 0;
}
.client-logo{
	width: 70px;
	height: 70px;
    filter: grayscale(100%);
}
.client-logo:hover{
    filter: grayscale(0);
}

.clients-logo-list {
	flex-basis: 50%;
	display: flex;
	flex-wrap: wrap;
	flex-shrink: 10;
	padding-top: 1.875rem;
}
.client-logo-item {
	flex-basis: 33%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #EBEBF0;
	padding: 2.75rem 5.25rem;
}




@media all and (max-width: 2100px) {
	.header-image{
		background-position: center ;
    }
}
@media all and (max-width: 1840px) {
    html{
        font-size: 15px;
    };
    
}
@media all and (max-width:1921px) {
    .step-item-w .button-link{
        font-size: 1rem;
    }
    .step-item-w .button-link::before{
        width: 2.5rem;
        margin-right: 1.3rem;
    }
    .founder-content .button-link{
        font-size: 1rem;
    }
    .founder-content .button-link::before{
        width: 2.5rem;
        margin-right: 1.3rem;
    }
}
@media all and (max-width: 1725px) {
    html{
        font-size: 14px;
    };
}
@media all and (max-width: 1650px) {
    html{
        font-size: 13px;
    };
    .header-nav-item:last-child {
        margin-right: 0;
    };
}
@media all and (max-width: 1505px) {
    .header-nav-item {
        margin-right: 1.25rem;
    }
}
@media all and (max-width: 1400px) {
    .header-nav{
        padding: 0 1.5625rem;
    }
    .header-logo{
        padding: 0 1.5625rem;
    }
}
@media all and (max-width: 1280px) {
    .header-phone {
        margin-right: 1.5625rem;
    }
	.labels-card{
		grid-template-columns: auto auto;
	}
}
@media all and (max-width: 1270px) {
    html{
        font-size: 12.5px;
    };
}
@media screen and (max-width: 1220px) {
    .header-button{
        padding: 1.875rem 1.25rem;
    }
    .container{
        max-width: 70rem;
    }
    .header-phone{
        display: none;
    }
    .navbar{
        height: 5rem;
    }
    .header-slider-buttons, .steps-buttons{
        display: flex;
    }
    .production-card{
		flex-basis: 50%;
	}
	.founder-content{
		max-width: 35rem;
	}
}
@media screen and (max-width: 1005px) {
    html{
        font-size: 12px;
    };
    .container{
        max-width: 60rem;
    }
    .header-nav{
        display: none;
    }
    .header-logo{
        flex-grow: 1;
        justify-content: center;
    }
    .mobile-menu-toggle{
        width: 80px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 2.2rem 2.4rem;
        border-right: 1px solid rgba(235, 235, 240, 0.2);
    }
    .mobile-menu-line{
        height: 1px;
        background-color: #fff;
        width: 100%;
        transition: transform 0.2s;
    }
    .mobile-menu-line:nth-child(2) {
        width: 80%;
    }
    .navbar-light .mobile-menu-line{
        background-color:black;
    }
    .header-button-icon{
        fill:white;
        display: block;
    }
    .header-button-text{
        display: none;
    }
/*     .header-button{
        padding: 1.875rem;
    } */
    .mobile-menu-nav{
        padding: 0;
    }
    .mobile-menu{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        z-index: 2;
        background-color: #fff;
        padding-top: 5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .mobile-menu.is-open{
        display: block;
    }
    .mobile-menu-nav-item{
        margin-bottom: 1.875rem;
        list-style: none;
    }
    .moble-menu-nav-link {
        text-decoration: none;
        font-weight: 700;
        font-size: 14px;
        line-height: 160%;
        color: #292D33;
    }
    .mobile-submenu {
        list-style: none;
        margin-top: 1.25rem;
        padding-left: 1.25rem;
    }
    .mobile-submenu-item {
        margin-bottom: .625rem;
    }
    .mobile-submenu-link {
        text-decoration: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        color: #828A99;
    }
    .mobile-phone{
        font-weight: 600;
        font-size: 20px;
        line-height: 160%;
        text-decoration-line: underline;
        color: #292D33;
        border-top: 1px solid #EBEBF0;
        display: block;
        padding-top: 1.875rem;
        margin-bottom: 1.25rem;
    }
    .mobile-info{
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: .625rem;
    }
    .mobile-info-address, .mobile-info-email{
        font-style: normal;
        font-size: 14px;
        line-height: 160%;
        color: #292D33;
        text-decoration: none;
    }
    .adress, .mail, .vk, .instagram {
        width: 1.5rem;
        height: 1.5rem;
    }
    .mobile-social{
        display: flex;
        gap: 1.5rem;
        margin-top: 2rem;
    }
    .close-menu .mobile-menu-line:nth-child(2) {
        display: none;
    }
    .close-menu .mobile-menu-line:nth-child(1) {
        transform: rotate(45deg) translateY(9px);
    }
    .close-menu .mobile-menu-line:nth-child(3) {
        transform: rotate(-45deg) translateY(-9px);
    }
}

@media screen and (max-width: 900px) {
    .container {
        max-width: 60rem;
    }
    .header-title {
        font-size: 4rem;
    }
	.founder-image{
		position: relative;
		width: 100%;
	}
	.founder-content-wrapper{
		justify-content: center;
	}
	.clients-wrapper{
		flex-direction: column;
	}
}


@media screen and (max-width: 786px) {
    .container {
        max-width: 40rem;
    }
    .header-title {
        font-size: 3rem;
    }
    .header-content {
        padding-top: 3rem;
    }
	.production-card{
		flex-basis: 100%;
	}
    .labels-card{
        flex-basis: 100%;
    }
    .production-card-text{
        margin-bottom: 25rem;
    }
	.labels-cards{
		flex-direction: column;
	}
}
@media screen and (max-width: 576px) {
    .container {
        max-width: 91%;
    }
    .header-title {
        font-size: 4rem;
    }
    .header-content {
        padding-top: 4rem;
    }
	.labels-card{
		grid-template-areas: 
		"logo title"
		"text text";
	}
    .labels-card-text-w{
        max-width: none;
    }
    .client-logo-item{
        flex-basis: 50%;
        padding: 2.4rem 3.8125rem;
    }
    .clients-logo-list{
        padding-top: 2.5rem;
    }
    .client-logo{
        width: 50px;
        height: 50px;
    }
    .clients-list {
        columns: 1;
        column-gap: 0
    }
    .clients-title{
        font-size: 3rem;
        margin-bottom: 2.6rem;
        margin-top: 1.4rem;
    }
    .clients-item{
        font-size: 1.17rem;
        margin-bottom: 1.25rem;
    }
}
@media screen and (max-width: 376px) {
	.step-item {
		max-width: 300px;
		height: 100%;
	}
    .steps-list{
        gap: 0;
    }
	.navbar{
		height: 5.75rem;
	}
	.header-button {
		min-width: 85px;
	}
	.header-button-icon {
		width: 24px;
		height: 24px;
	}
	.header-logo {
		padding: 0px 0.5625rem;
	}
	.header-text {
		font-size: 1.15rem;
	}
	.header-title {
		margin-bottom: 1.4rem;
	}
	.header-text {
		margin-top: 0;
		margin-bottom: 2.3rem;
	}
	.btn{
		min-width: 28.5625rem;
		font-size: 1.3rem;
	}
	.header-content {
		margin-bottom: 4.4rem;
	}
	.header-features{
		min-height: 11.5rem;
	}
	.header-features-svg {
		margin-bottom: 1.2rem;
		width: 3rem;
		height: 3rem;
	}
	.haeder-features-items {
		padding: 1.8125rem 2.1875rem;
	}
	.haeder-features-text {
		font-size: 1.2rem;
	}
	.section-steps {
		margin-top: 100px;
	}
	.section-labels {
		margin-bottom: 8.3rem;
	}
	.seporator {
		width: 8rem;
	}
	.section-steps-title{
		font-size: 3rem;
		margin-top: 1.5rem;
		margin-bottom: 2.2rem;
	}
	.step-numb{
		font-size: 4rem;
		margin-bottom: 1rem;
	}
	.step-text{
		margin: 0;
		margin-bottom: 0.4rem;
	}
	.step-descr{
		font-size: 1.2rem;
		margin-top: 0;
		margin-bottom: 1.9rem;
	}
	.step-item-w{
		max-width: 22.75rem;
	}
	.step-link{
		font-size: 1.2rem;
	}
	.step-link::before{
		width: 3.2rem;
		margin-right: 1.5rem;
	}
	
	.steps-buttons {
		height: 41px;
	}
	.production {
		margin: 8.1rem 0;
	}
    .production-card{
        min-height: 429px;
    }
	.section-production-title{
		font-size: 3rem;
	}
	.section-production-title {
		margin-bottom: 2.7rem;
	}
    .section-labels-title{
        font-size: 3rem;
        margin-bottom: 2.6rem;
        margin-top: 1.5rem;
    }
	.production-card-content {
		padding: 1.2rem 2.4rem;
	}
	.production-card-text {
		margin: 0;
		margin-bottom: 0;
		font-size: 1.2rem;
	}
	.labels-card{
		grid-template-columns: 100px auto;
        grid-template-areas: 
        "logo title"
        "text text";
        padding: 2.5rem;
        grid-column-gap: 2.45rem;
	}
	.labels-card-image{
		grid-area: logo;
		width: 100%;
		height: 100px;
		fill:#828A99;
	}
	.labels-card-title {
		font-size: 1.7rem;
		line-height: 136%;
	}
	.labels-card-text{
		font-size: 1.15rem;
		margin-top: 1.6rem;
	}
    .labels-card-text-w{
        max-width: none;
        margin-right: 0;
        grid-area: text;
    }
	.founder{
		position: relative;
		min-height: 61.0625rem;
        margin-bottom: 4.5rem;
	}
	.founder-content {
		padding: 3.8rem 0;
	}
	.founder-image{
		top:0;
		left: 0;
		right: 0;
	}
	.founder-content-wrapper{
		flex-direction: column;
	}
	.founder-title {
		font-size: 3rem;
		margin-bottom: 1rem;
	}
	.founder-text{
		font-size: 1.17rem;
		margin-bottom: 0.5rem;
	}
	.founder-content .button-link {
		margin-top: 1.5rem;
	}
    .founder-title + .founder-text {
        margin-bottom: 0.2rem;
    }
    .founder-content .button-link::before {
        width: 3rem;
        margin-right: 2rem;
    }
    .founder-content .button-link {
        font-size: 1.2rem;
    }
    .client-logo-item{
        flex-basis: 50%;
        padding: 2.4rem 3.8125rem;
    }
    .clients-logo-list{
        padding-top: 2.5rem;
    }
    .client-logo{
        width: 50px;
        height: 50px;
    }
    .clients-list {
        columns: 1;
        column-gap: 0
    }
    .clients-title{
        font-size: 3rem;
        margin-bottom: 2.6rem;
        margin-top: 1.4rem;
    }
    .clients-item{
        font-size: 1.17rem;
        margin-bottom: 1.25rem;
    }
}