* {
    box-sizing: border-box;
}
html{
    font-size: 16px;
}

body{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

.mobile-menu{
    display: none;
}
.header {
	padding-top: 5.875rem;
}
.logo-black{
    display: none;
}
.header-image::after{
    content:"";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(41, 45, 51, 0.6);
    z-index: 0;
}
.header-image{
    background-image: url('../image/header-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom -3.5rem ;
    position: relative;
}
.navbar {
    display: flex;
    align-items:center;
    color: white;
    height: 6rem;
    z-index: 2;
    position: fixed;
    width: 100%;
    left: 0;
	top: 0;
    border-bottom: 1px solid rgba(235, 235, 240, 0.2);
	transition: background-color 0.2s; height: 0.2s;
}
.navbar-light{
	background: #fff;
	color: #292D33;
    height: 4.625rem;
}
.navbar-light .haeder-logo-path{
	fill: #292D33;
}
.header-logo {
    display: flex;
    align-items: center;
    padding: 0 3.25rem;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
    height: 100%;
}
.logo-svg {
    width: 8.75rem; 
    height: 2.75rem;
}
.header-nav {
    display: flex;
    flex-basis: 100%;
    list-style: none;
    padding: 0 3.125rem;
    margin: 0;
}
.header-nav-item {
    margin-right: 3.125rem;
}
.header-nav-link {
    text-decoration: none;
    color: inherit;
    font-weight: 400;
    font-size: 1rem;
}
.header-phone {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: .625rem;
    margin-right: 3.125rem;
}
.phone{
    width: 1.5rem; 
    height: 1.5rem;
    fill:#5C8EE6;
}
.header-phone-link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: inherit;
}
.header-button {
    flex-shrink: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
	font-weight: 600;
    font-size: 1rem;
    line-height: 160%;
    padding: 1.875rem 3.375rem;
    color: #FFFFFF;
    background-color: #3A71D1;
    border: none;
    cursor: pointer;
}
.header-button-icon{
    width: 1.5rem; 
    height: 1.5rem;
    display: none;
}
.btn {
    font-weight: 600;
    font-size: 1rem;
    line-height: 160%;
    padding: 1.625rem 4.0625rem;
    color: #FFFFFF;
    background-color: #3A71D1;
    border: none;
    cursor: pointer;
}
.container{
    max-width: 90rem;
    margin: 0 auto;   
}

.header-content{
    padding-top: 9.375rem;
    position: relative;
    z-index: 1;
    color: #fff;
    margin-bottom: 6.25rem;
}
.header-title{
    max-width: 67.5rem;
    font-family: 'Bebas Neue';
    font-weight: 600;
    font-size: 5rem;
    line-height: 120%;
    word-spacing: 0rem;
    margin-top: 1.4375rem;
    letter-spacing: .05rem;
    margin-bottom: 2.4375rem;
}

.header-text{
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    max-width: 45rem;
    margin-bottom: 3.125rem;
    letter-spacing: .0063rem;
}
.seporator{
    background: #5C8EE6;
    width: 9.375rem;
    height: .125rem;
}

.header-features {
    display: flex;
    min-height: 10.5rem;
    padding: 0;
    list-style: none;
    position: relative;
    z-index: 1;
}
.haeder-features-items {
    padding: 1.8125rem 3.1875rem;
    display: inline-block;
    height: auto;
    width: 18rem;
    border: .0625rem solid rgba(235, 235, 240, 0.2);
}
.haeder-features-items:not(:last-child){
    border-right: .0625rem solid rgba(235, 235, 240, 0.2);
}
.header-features-svg {
    margin-bottom: .9375rem;
    width: 2.25rem; 
    height: 2.25rem;
}
.haeder-features-text {
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    color: #fff;
}
.sliders-buttons{
    display: none;
    height: 44px;
    justify-content: center;
    align-items: center;
}
.header-buttons-prev, .header-buttons-next {
    height: 100%;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgba(235, 235, 240, 0.2);
}
.section-slider-buttons{
    justify-content: flex-end;
}
.section-buttons-prev, .section-buttons-next {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* border: 1px solid rgba(235, 235, 240, 0.2); */
    background: #5C8EE6;
    padding: 13px 17px;
}

.section {
	margin: 9.375rem 0;
}

.section-light-title {
	font-family: 'Bebas Neue';
	font-weight: 600;
	font-size: 3.75rem;
	line-height: 120%;
	color: #292D33;
    margin-top: 1.5rem;
    margin-bottom: 3.25rem;
}
.section-step-list {
	display: flex;
	list-style: none;
	padding: 0;
	gap: 1.875rem;
    margin: 0;
    margin-bottom: 20px;
}
.section-item {
	width: 20.625rem;
	height: 100%;
}
.section-numb {
	font-family: 'Bebas Neue';
	font-weight: 600;
	font-size: 3rem;
	line-height: 120%;
	color: #5C8EE6;
	margin-bottom: 2.125rem;
	display: flex;
	align-items: center;
}
.section-numb:after{
	margin-left: 1.875rem;
	content:"";
	height: 1px;
	background: #EBEBF0;
	width: 100%;
}

.section-item-w{
    max-width: 18.75rem;
}
.section-text {
	font-weight: 400;
	font-size: 1.75rem;
	line-height: 160%;
	color: #292D33;
	margin-bottom: .625rem;
}
.section-descr {
	font-weight: 400;
	font-size: 1rem;
	line-height: 160%;
	color: #828A99;
	margin-bottom: 1.25rem;
    margin-top: .6875rem;
}
.section-step-link{
	font-weight: 600;
	font-size: 1rem;
	line-height: 160%;
	color: #5C8EE6;
	display: flex;
	align-items:center;
	text-decoration: none;
}
.section-step-link::before{
	content:"";
	height: .0625rem;
	background: #5C8EE6;
	margin-right: 1.25rem;
	width: 2.5rem;
}

@media all and (max-width: 2100px) {
    .header-image{
        background-position: center ;
    }
}

@media all and (max-width: 1840px) {
    html{
        font-size: 15px;
    };
    
}

@media all and (max-width: 1725px) {
    html{
        font-size: 14px;
    };
}

@media all and (max-width: 1650px) {
    html{
        font-size: 13px;
    };
    .header-nav-item:last-child {
        margin-right: 0;
    };
}

/* @media all and (max-width: 1580px) {
    html{
        font-size: 13px;
    };
} */

@media all and (max-width: 1505px) {
    .header-nav-item {
        margin-right: 1.25rem;
    }
}

@media all and (max-width: 1400px) {
    .header-nav{
        padding: 0 1.5625rem;
    }
    .header-logo{
        padding: 0 1.5625rem;
    }
}

@media all and (max-width: 1320px) {
    html{
        font-size: 13px;
    };
}

@media all and (max-width: 1280px) {
    .header-phone {
        margin-right: 1.5625rem;
    }
}
@media all and (max-width: 1270px) {
    html{
        font-size: 12.5px;
    };
}


@media screen and (max-width: 1220px) {
    .header-button{
        padding: 1.875rem 1.25rem;
    }
    .container{
        max-width: 70rem;
    }
    .header-phone{
        display: none;
    }
    .navbar{
        height: 5rem;
    }
    .header-slider-buttons, .section-slider-buttons{
        display: flex;
    }
    
}
@media screen and (max-width: 1005px) {
    html{
        font-size: 12px;
    };
    .container{
        max-width: 60rem;
    }
    .header-nav{
        display: none;
    }
    .header-logo{
        flex-grow: 1;
        justify-content: center;
    }
    .mobile-menu-toggle{
        width: 80px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 1.8rem 2rem;
        border-right: 1px solid rgba(235, 235, 240, 0.2);
    }
    .mobile-menu-line{
        height: 1px;
        background-color: #fff;
        width: 100%;
        transition: transform 0.2s;
    }
    .mobile-menu-line:nth-child(2) {
        width: 80%;
    }
    .navbar-light .mobile-menu-line{
        background-color:black;
    }
    .header-button-icon{
        fill:white;
        display: block;
    }
    .header-button-text{
        display: none;
    }
    .header-button{
        padding: 1.875rem;
    }
    .mobile-menu-nav{
        padding: 0;
    }
    .mobile-menu{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        z-index: 2;
        background-color: #fff;
        padding-top: 5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .mobile-menu.is-open{
        display: block;
    }
    .mobile-menu-nav-item{
        margin-bottom: 1.875rem;
        list-style: none;
    }
    .moble-menu-nav-link {
        text-decoration: none;
        font-weight: 700;
        font-size: 14px;
        line-height: 160%;
        color: #292D33;
    }
    .mobile-submenu {
        list-style: none;
        margin-top: 1.25rem;
        padding-left: 1.25rem;
    }
    .mobile-submenu-item {
        margin-bottom: .625rem;
    }
    .mobile-submenu-link {
        text-decoration: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        color: #828A99;
    }
    .mobile-phone{
        font-weight: 600;
        font-size: 20px;
        line-height: 160%;
        text-decoration-line: underline;
        color: #292D33;
        border-top: 1px solid #EBEBF0;
        display: block;
        padding-top: 1.875rem;
        margin-bottom: 1.25rem;
    }
    .mobile-info{
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: .625rem;
    }
    .mobile-info-address, .mobile-info-email{
        font-style: normal;
        font-size: 14px;
        line-height: 160%;
        color: #292D33;
        text-decoration: none;
    }
    .adress, .mail, .vk, .instagram {
        width: 1.5rem;
        height: 1.5rem;
    }
    .mobile-social{
        display: flex;
        gap: 1.5rem;
        margin-top: 2rem;
    }
    .close-menu .mobile-menu-line:nth-child(2) {
        display: none;
    }
    .close-menu .mobile-menu-line:nth-child(1) {
        transform: rotate(45deg) translateY(9px);
    }
    .close-menu .mobile-menu-line:nth-child(3) {
        transform: rotate(-45deg) translateY(-9px);
    }
}

@media screen and (max-width: 900px) {
    .container {
        max-width: 60rem;
    }
    .header-title {
        font-size: 4rem;
    }
}


@media screen and (max-width: 786px) {
    .container {
        max-width: 40rem;
    }
    .header-title {
        font-size: 3rem;
    }
    .header-content {
        padding-top: 3rem;
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 90%;
    }
    .header-title {
        font-size: 2rem;
    }
    .header-content {
        padding-top: 2rem;
    }
}